@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --mobile-16px-unit: 4.26666667vw;
  --desktop-16px-unit: 1111111111vw;
  font-size: var(--mobile-16px-unit);
  @apply font-ubuntu;
}

#root {
  @apply w-full;
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.MuiSlider-track {
  background: linear-gradient(to right, #ff5c01, #ffd25f);
  border: none !important;
  height: 8px !important;
}

.MuiSlider-rail {
  background-color: rgba(255, 255, 255, 0.3) !important;
  height: 8px !important;
}

.MuiSlider-thumb {
  height: 17px !important;
  width: 17px !important;
  background-color: #1b1b1b !important;
  outline: 6px solid #ffd25f !important;
}

.MuiSlider-mark {
  opacity: 0 !important;
}

.MuiSlider-markLabel {
  padding-top: 0.5rem !important;
  font-size: 1rem !important;
}
